<h3 class="inline-block">Device</h3> <button id="refresh-device" name="device-elm" class="inline-block" onclick="refreshDevice()" disabled>Refresh</button>
<hr>

<b>Device name:</b> <input class="right-align" id="device-name" name="device-elm" enabled><br><br>
<b>Device identifier:</b> <input class="right-align" id="device-id" name="device-elm" enabled><br><br>
<b>Device address:</b> <input class="right-align" id="device-address" name="device-elm" enabled><br><br>



<br><br>
<hr>
<button id="edit-mode-device" onclick="editMode('device')">Toggle Edit Mode</button> <button id="save-device" name="device-elm" onclick="updateDevice()" enabled>Update</button>